
#area { margin: 10px; }

/* tile size */
#board .spot , #board .spot div, .tile { width: 20px; height: 20px; }

/* board */
#board { border-collapse: collapse; float: left; }
#board .row { margin: 0; padding: 0; }
#board .spot { text-align: center;  border: solid 1px #ccc; padding: 0; }
#board .spot div { color: #ccc; font-size: 8pt; overflow: hidden; }
#board .spot.hovered { background-color: #ccc;}
#board .spot.active { background-color: #ccc;}
#board .spot.highlight { background-color: #f00;}

/* stack */
#stack { float: left; border: solid 1px #ccc; width: 440px;  padding: 10px; margin-left: 10px; }
#stack .tile { background-color: #96917A; display: inline-block; border: solid 1px black; border-radius: 2px; margin: 0 5px 5px 0; }
#stack .tile { text-align: center; color: #030; font-size: 10pt; }