@{ ViewBag.Title = "Index"; }
@section stylesheets{<link href="@Url.Content("~/Content/gridboard.css")" rel="stylesheet" type="text/css" />}
@section scripts{<script src="@Url.Content("~/Scripts/gridboard.js")" type="text/javascript"></script>}
<div id="area">
<table id="board"></table>
<div id="stack"></div>
</div>


