
div#area { margin: 10px; }

/* spot/tile size */ 
table#board .spot , .tile { text-align: center; color: #030; font-size: 10pt;}
table#board .spot , .tile { width: 30px; height: 30px; }


/* board */
table#board { border-collapse: collapse; }
table#board .row { margin: 0; padding: 0; }
table#board .spot {  border: solid 1px #ccc; color: #ccc; text-align: center; font-size: 10pt;}
table#board .spot.hovered { background-color: #ccc;}
table#board .spot.acative { background-color: #ccc;}

/* stack */
div#stack { border: solid 1px #ccc; width: 440px; height: 200px; padding: 10px;}
.tile { background-color: #96917A; display: inline-block; border: solid 1px black; border-radius: 2px; margin: 0 5px 5px 0; }
